_.log
.cache
.DS_Store
.env
.eslintcache
.idea
*.lcov
*.local
*.log
*.njsproj
*.ntvs*
*.pdb
*.sln
*.suo
*.sw?
*.tgz
*.tsbuildinfo
**/*.rs.bk
**/mutants.out*/
coverage
debug
dist
dist-ssr
logs
node_modules
out
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
target
